@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Merriweather', serif;

    /* Esempio di tipografia fluida con clamp() */
    --font-size-base: clamp(1rem, 2.5vw, 1.125rem);
    --font-size-h1: clamp(2rem, 5vw, 3rem);
    --font-size-title-slide: clamp(2rem, 5vw, 3rem);
}

html {
    /* Corrisponde a 16px di default */
    font-size: 100%;
}